.hero-detail__wrapper{
    background:  linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%) , url("../images/strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 313px;
    padding-bottom: 32px;
}


