
.hero-detail__wrapper{
    background-image: url("../images/strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 313px;
    padding-bottom: 32px;
}